// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    @aside_h: 100vh;
    @m_padding: .75rem;

    body {
        overflow-x: hidden;

        main {
            flex-direction: row;
            width: 100%;

            aside {
                position: fixed;
                width: 50vw;
                height: @aside_h;

                header {
                    flex-direction: row;
                    padding: 1rem 0 1rem 1rem;

                    >nav {
                        position: relative;
                        width: auto;
                        height: auto;
                        top: 0 !important;

                        ul {
                            flex-direction: row;
                            flex-wrap: nowrap;

                            li {
                                width: auto;

                                a {
                                    font-size: 1.1rem;
                                    padding: 1rem @m_padding;
                                }

                                &.menu-item-type-custom {
                                    a {
                                        padding: 1rem .5rem;
                                    }
                                }

                                &:last-of-type {
                                    a {
                                        padding-right: 2rem;
                                    }
                                }

                                &.menu-item-type-custom {
                                    width: auto;
                                }
                            }
                        }
                    }

                    &:hover {
                        background-color: #ffffffee;

                        #logo_pk {
                            #scare {
                                fill: brown;
                            }

                            #letters {
                                fill: black;
                            }
                        }

                        #icon-menu {
                            span {
                                background-color: black;
                            }
                        }

                        nav {
                            height: auto;
                            background-color: transparent;
                            transition: .5s;

                            ul {

                                li {
                                    a {
                                        padding: 1rem @m_padding;
                                        color: #000;

                                        i {
                                            &.bi-facebook {
                                                color: #3b5998;
                                            }

                                            &.bi-instagram {
                                                color: #833ab4;
                                            }

                                            &.bi-youtube {
                                                color: #FF0000;
                                            }
                                        }

                                        &:after {
                                            background-color: black;
                                        }

                                        &:hover {
                                            &:after {
                                                width: 100%;
                                                background-color: black;
                                                transition: .3s;
                                            }
                                        }
                                    }

                                    &.menu-item-type-custom {
                                        a {
                                            padding: 1rem .5rem;
                                        }
                                    }

                                    &.menu-item-type-custom {
                                        a {
                                            &:after {
                                                width: 0;
                                            }
                                        }
                                    }

                                    &:last-of-type {
                                        a {
                                            padding-right: 2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .stage {
                    width: 50vw;
                    height: @aside_h;
                    margin-top: -8rem;
                    background-position: center;

                    h1 {
                        font-size: 5rem;
                        margin: 0;
                    }

                    .actor {
                        width: 50vw;
                        height: @aside_h;
                    }

                    footer {
                        position: absolute;
                        z-index: 3;
                        bottom: 0;
                        background-color: transparent;
                    }

                }
            }

            section {
                position: relative;
                left: 50vw;
                width: 50vw;

                span.after {
                    width: 50vw;
                }
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    @m_padding: 2rem;

    body {

        main {

            aside {

                header {

                    >nav {

                        ul {

                            li {

                                a {

                                    padding: 1rem @m_padding;
                                }
                            }
                        }
                    }

                    &:hover {
                        >nav {

                            ul {

                                li {

                                    a {

                                        padding: 1rem @m_padding;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}